@font-face {
    font-family: Helvetica;
    src: url(resources/helvetica.ttf);
}

@font-face {
    font-family: Georgia;
    src: url('resources/Georgia.ttf');
}

body{
    margin: 0px;
    border: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(images/sky.jpg);
    background-repeat: no-repeat;
}

#img1{
    width: 340px;
    height: 500px;
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
}

#form{
    margin-top: 150px;
    margin-right: 50px;
}

#photo-form{
    display: flex;
    justify-content: center;
    
    
}
#header{
    margin: auto 20px;
    display: flex;
    font-family: Helvetica;
    font-size: large;
    font-weight: 400;
    text-decoration: underline;
}

ul{
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 50px;
}

label{
    font-family: Helvetica;
}

input{
    font-family: Helvetica;
}

form{
    display: flex;
    gap: 80px;
    margin-top: 20px;
}

.sec-1{
    margin-left: 20px;
}

.heading{
    font-family: Helvetica;
    margin-top: 15px;
    font-size: 30px;
    /*font-weight: 400;*/
}

fieldset{
    
        margin-top: 70px;
        border: 1px solid black;
        border-radius: 25px;
     
}